[Unit]
Description=Wiseflat xPL sysinfo daemon
After=networking.service
After=xpl-hub.service

[Service]
Type=simple
ExecStart=/usr/local/bin/node /opt/xpl-sysinfo/index.js
Restart=always

[Install]
WantedBy=multi-user.target
